# Unreal build/derived
Binaries/
DerivedDataCache/
Intermediate/
Saved/
DerivedDataCacheBoot.ddc

# IDE clutter
.vs/
*.VC.db
*.VC.opendb
*.sln

# OS clutter
.DS_Store
Thumbs.db

# If you generate packaged builds here, ignore them:
# Build/ or Releases/
